@import url('https://fonts.googleapis.com/css?family=Exo|Orbitron&amp;display=swap');

/* CORE STYLES */
:root {
  --primary-color: rgba(0, 0, 0 , 0.6);
  --overlay-color: rgba(255, 255, 255 , 1);
  --menu-speed: 0.75s;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* MENU STYLES */
.menu-wrap {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
}

.menu-wrap .toggler {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99;
  cursor: pointer;
  width: 50px;
  height: 50px;
  opacity: 0;
}

.menu-wrap .hamburger {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 60px;
  height: 60px;
  padding: 1rem;
  background: var(--primary-color);
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Hamburger Line */
.menu-wrap .hamburger > div {              
  position: relative;
  flex: none;
  width: 100%;
  height: 2px;
  background: var(--overlay-color);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.4s ease;
}

/* Hamburger Lines - Top & Bottom */
.menu-wrap .hamburger > div::before,
.menu-wrap .hamburger > div::after {
  content: '';
  position: absolute;
  z-index: 1;
  top: -10px;
  width: 100%;
  height: 2px;
  background: inherit;
}

/* Moves Line Down */
.menu-wrap .hamburger > div::after {
  top: 10px;
}

/* Toggler Animation */
.menu-wrap .toggler:checked + .hamburger > div {
  transform: rotate(135deg);
}

/* Turns Lines Into X */
.menu-wrap .toggler:checked + .hamburger > div:before,
.menu-wrap .toggler:checked + .hamburger > div:after {
  top: 0;
  transform: rotate(90deg);
}

/* Rotate On Hover When Checked */
.menu-wrap .toggler:checked:hover + .hamburger > div {
  transform: rotate(225deg);
}

/* Show Menu */
.menu-wrap .toggler:checked ~ .menu {
  visibility: visible;
}

.menu-wrap .toggler:checked ~ .menu > div {
  transform: scale(1);
  transition-duration: var(--menu-speed);
}

.menu-wrap .toggler:checked ~ .menu > div > div {
  opacity: 1;
  transition:  opacity 0.4s ease 0.4s;
}

.menu-wrap .menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  visibility: hidden;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu-wrap .menu > div {
  background: var(--overlay-color);
 
  width: 200vw;
  height: 200vw;
  display: flex;
  flex: none;
  align-items: center;
  justify-content: center;
  transform: scale(0);
  transition: all 0.4s ease;
}

.menu-wrap .menu > div > div {
  text-align: center;
  max-width: 90vw;
  max-height: 100vh;
  opacity: 0;
  transition: opacity 0.4s ease;
}

.menu-wrap .menu > div > div > ul > li {
  list-style: none;
  color: #fff;
  font-size: 1.5rem;
  padding: 1rem;
}

.menu-wrap .menu > div > div > ul > li > a {
  color: inherit;
  text-decoration: none;
  transition: color 0.4s ease;
  font-family: 'orbitron', sans-serif;
  font-weight: 800;
  line-height: 1.4;
  transition: 0.5s ease-in-out;
  letter-spacing: 1.5px;
  color: #000;
  font-size: 20px;
}                                               

.menu-wrap .menu > div > div > ul > li > a:hover{
  letter-spacing: 3px;
  color: #3498DB;
}



.footer{
  background-color:#3498DB;
  padding: 4% 10%;
  margin-top:10%;
  width: 100%;
  position: absolute;
}

.footer .section{
  width: 33.33%;
  float: left;
  padding: 0% 3.33%;
  font-family: 'Exo',sans-serif;
}

.footer .section2 img{
  display:block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10%;
}
.footer .section1{
  padding-left: 5%;
}

.footer .section1 h2{
  text-align: center;
  color: #000 !important;
  padding: 0% !important;
  font-family: 'Exo',sans-serif !important;
  font-weight: bold;
}
.footer .section1 ul li{
  list-style: none;
  margin-top: 5%;
  text-align: left !important;
}


.footer .section1 ul li a{
  text-decoration: none;
  color: #000;
  font-weight: bold;
}
.footer .section3{
  text-align: center;
  padding-top: 5%;

}

.footer .section3 #WebTeam{
  text-decoration: none;
  color: black;
  padding: 6% 8%;
  background-color: transparent;
  border: 2px solid #000;
  transition: 0.4s ease-in-out;
  font-weight:bold;
  
}
.footer .section3 #WebTeam:hover{
background-color: black;
color: #3498DB;
}

.footer .section3 .social-media{
  margin-top: 25%;
  margin-bottom: 5%;
}

.footer .section3 .social-media a{
  text-decoration: none;
  color: #000;
  font-size: 20px;
  font-weight: bold;
  margin: 0% 5%;
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .footer{
    margin-top: 20%;
  }

  

}

@media only screen and (min-width: 320px) and (max-width: 768px){
  .footer{
    margin-top: 30%;
    padding: 0%;
  }
  .footer .section{
    width: 100%;
    padding: 0%;
    font-family: 'Exo',sans-serif;
  } 
  .footer .section2 img{
    margin-top: 15%;
  }
  .footer .section3{
    margin-top: 15%;
  }
  .footer .section1{
    margin-top: 10%;
  }

  .footer .section1 ul{
    padding-left: 16%;
  }
}




